.section7 {
    position: relative;
    padding: 0 100px;
}

.section7_header {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 94px;
    line-height: 120px;
    text-align: center;
    text-transform: capitalize;

    background: -webkit-linear-gradient(90.12deg, #FFD7D7 0.75%, #FF9999 108.39%),
    -webkit-linear-gradient(90.12deg, #FFD3FA 0.75%, #9A4997 108.39%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 10%;
}

.section7 .dev_discord {
    border-radius: 98px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
    text-transform: capitalize;
    padding: 6px 40px;
    margin-top: 150px;
}

.section7_logo1 {
    background: linear-gradient(146.54deg, rgba(236, 162, 162, 0.8) 13.48%, rgba(119, 51, 51, 0.8) 50%, rgba(0, 0, 0, 0) 94.92%);
    transform: matrix(-0.44, 0.9, 0.9, 0.44, 0, 0);
    width: 673px;
    height: 673px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    left: 100px;
}

.section7_logo2 {
    background: linear-gradient(144.53deg, #FF6A6A 13.71%, #FFB1B1 82.62%);
    width: 265px;
    height: 265px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    top: 250px;
    right: 100px;
}

@media (min-width: 1400px) {
    .section7 {
        max-width: 1400px;
        margin: auto;
    }
}

@media (max-width: 1399px) {
    .section7_header {
        line-height: 114px;
    }
}

@media (max-width: 1270px) {
    .section7_logo2 {
        top: 340px;
    }

    .section7_logo1 {
        top: 360px;
        left: 0;
    }
}

@media (max-width: 1200px) {
    .section7_header {
        padding: 0;
        line-height: 124px;
    }

    .section7_logo1 {
        width: 470px;
        height: 470px;
        left: 50px;
        top: 350px;
    }
}

@media (max-width: 1024px) {
    .section7_header {
        font-size: 80px;
        line-height: 120px;
    }
}

@media (max-width: 870px) {
    .section7_logo2 {
        right: 0;
        width: 200px;
        height: 200px;
    }

    .section7_logo1 {
        height: 400px;
        left: 0;
        width: 400px;
        top: 480px;
    }
}

@media (max-width: 769px) {
    .section7 {
        padding: 0 50px;
    }

    .section7_header {
        font-size: 70px;
        line-height: 110px;
    }
}

@media (max-width: 680px) {
    .section7_logo2 {
        top: 440px;
    }

    .section7_logo1 {
        height: 350px;
        left: 0;
        width: 350px;
        top: 480px;
    }
}

@media (max-width: 550px) {
    .section7_logo2 {
        display: none;
    }

    .section7_logo1 {
        top: 550px;
    }
}

@media (max-width: 426px) {
    .section7 {
        padding: 0 20px;
    }

    .section7_header {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 50px;
    }

    .section7_logo1 {
        width: 245px;
        height: 245px;
        left: 20px;
        top: 220px;
    }

    .section7 .dev_discord {
        font-size: 20px;
    }
}

@media (max-width: 321px) {
    .section7_logo1 {
        width: 240px;
        height: 240px;
    }
}
