.player_section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(100px);
    border-radius: 85px;
    margin-top: 150px;
    position: relative;
    padding: 60px 100px;
    z-index: 1;
    width: 90%;
}

.player_left_top {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.player_center {
    margin: 150px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.player_center > img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.player_left_bottom {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    position: absolute;
    bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.player_left_bottom > span:nth-child(2) {
    margin-left: 30px;
}

.player_status {
    background: #DE0279;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    margin-right: 20px;
}

.player_right1 {
    position: absolute;
    bottom: -400px;
    z-index: -1;
    right: -100px;
    width: 673px;
}

@media (min-width: 1400px) {
    .player {
        max-width: 1400px;
        margin: 150px auto auto;
    }

    .player_right1 {
        right: 0;
    }
}

@media (max-width: 1399px) {
    .player_right1 {
        right: 0;
    }
}

@media (max-width: 1200px) {
    .player_right1 {
        right: 0;
    }

    .player_center > img:first-child {
        width: 90%;
    }
}

@media (max-width: 940px) {
    .player_center > img:last-child {
        width: 180px;
    }

    .player {
        padding: 40px 50px;
    }

    .player_center {
        margin: 100px 0;
    }
}

@media (max-width: 650px) {
    .player {
        padding: 30px 40px;
    }

    .player_left_top {
        font-size: 24px;
        align-items: center;
        width: 100%;
        position: inherit;
    }

    .player_left_top > img {
        width: 250px;
    }

    .player_left_bottom {
        font-size: 18px;
       justify-content: center;
        width: 100%;
        position: inherit;
        bottom: 0;
    }

    .player_center > img:last-child {
        width: 120px;
    }

    .player_status {
        width: 18px;
        height: 18px;
        position: inherit;
    }

    .player_left_bottom > span:nth-child(2) {
        margin-left: 0;
    }

    .player_center {
        margin: 50px 0;
        height: 200px;
    }
}

@media (max-width: 420px) {
    .player {
        padding: 30px 20px;
    }

    .player_left_top > img {
        width: 150px;
        margin-bottom: 5px;
    }

    .player_left_top {
        font-size: 18px;
    }

    .player_left_bottom {
        font-size: 14px;
        text-align: left;
        bottom: 30px;
    }

    .player_center > img:last-child {
        width: 80px;
    }

    .player_center {
        margin: 20px 0;
        height: 200px;
    }
}
