.eco_stym_cards {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr));
    padding: 30px 120px;
}

@media (max-width: 740px) {
    .eco_stym_cards {
        padding: 10px 20px;
    }
}