.eco_stym_introduction {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eco_stym_title {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.eco_stym_bold {
    font-style: normal;
    font-weight: bold;
}

.eco_stym_introduction_number_app {
    font-size: 60px;
    padding: 0px 120px;
    max-width: 1000px;
}

.eco_stym_introduction_text {
    padding: 20px 140px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.75);
    max-width: 800px;
}

@media (max-width: 740px) {
    .eco_stym_introduction_text {
        padding: 20px 20px;
    }
    .eco_stym_introduction_number_app {
        padding: 0px 20px;
    }
}