.eco_stym_card {
    display: flex;
    flex-direction: row;
    max-width: 300px;
    margin: 20px 0;
}

.eco_stym_card_image_container {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 0;
    position: relative;
    overflow: hidden;
}

.eco_stym_card_image_container--website {
    cursor: pointer;
}

.eco_stym_card_image_blur {
    position: absolute;
    opacity: 0.5;
    filter: blur(20px);
    max-width: 100%;
}

.eco_stym_card_image {
    width: 80px;
}

.eco_stym_card_informations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.eco_stym_card_name {
    font-weight: bold;
    font-size: 16px;
}

.eco_stym_card_name--website {
    cursor: pointer;
}

.eco_stym_card_state {
    margin: 0 0 0 8px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
}

.eco_stym_card_state--dapp {
    background-color: #BA3FD9;
}

.eco_stym_card_state--contract {
    background-color: #4ACF4A;
}

.eco_stym_card_state--tool {
    background-color: #FF9500;
}

.eco_stym_card_type {
    color: rgba(255, 255, 255, 0.50);
    text-transform: uppercase;
}

.eco_stym_card_address {
    color: rgba(255, 255, 255, 0.50);
    cursor: pointer;
    text-transform: uppercase;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.eco_stym_card_links {}

.eco_stym_card_icon {
    margin: 0 10px 0 0;
    height: 22px;
    cursor: pointer;
}

.eco_stym_card_link {
    margin: 0 10px 0 0;
    color: rgba(255, 255, 255, 0.75)
}