html, body, #root, .of_community, .main_content, .content_div {
  min-height: 100% !important;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  background: #232323;
  color: #ffffff;
}

p {
  margin: unset;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.juno_website {
  position: relative;
}

.juno_website .common_button {
  background: rgb(119 119 119 / 21%);
}

.juno_website .common_button:hover {
  background: #ff7171;
}

/* scroll bar */
html::-webkit-scrollbar,
.scroll_bar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb,
.scroll_bar::-webkit-scrollbar-thumb {
  border: 0 solid #fff;
  box-shadow: inset 0 0 0 20px rgba(0, 0, 0, .24);
  border-radius: 20px;
  background: #fff;
}
