html, body, #root, .of_community, .main_content, .content_div {
  min-height: 100% !important;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  background: #232323;
  color: #ffffff;
  overflow-x: hidden;
}

p {
  margin: unset;
}

.juno_website {
  position: relative;
}

.juno_website .header {
  font-size: 120px;
  line-height: 120px;
}

/* scroll bar */
html::-webkit-scrollbar,
.scroll_bar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb,
.scroll_bar::-webkit-scrollbar-thumb {
  border: 0 solid #fff;
  box-shadow: inset 0 0 0 20px rgba(0, 0, 0, .24);
  border-radius: 20px;
  background: #fff;
}

@media (max-width: 1399px) {
  .juno_website .header {
      font-size: 100px;
  }
}

@media (max-width: 1250px) {
  .juno_website .header {
      font-size: 90px;
  }
}

@media (max-width: 1025px) {
  .juno_website .header {
      font-size: 80px;
      line-height: inherit;
  }
}

@media (max-width: 769px) {
  .juno_website .header {
      font-size: 70px;
      line-height: 100px;
  }
}

@media (max-width: 450px) {
  .juno_website .header {
      font-size: 50px;
      line-height: 70px;
  }
}

@media (max-width: 440px) {
  .juno_website .header_value {
      font-size: 50px;
  }
}