//$bgColor: #2B2122; // ORIGINAL
$bgColor: #312526;
$red: #F0827D;
$purple: #73565E;

// FONTS
$dv : 'ClashDisplay-Variable';
$dsb : 'ClashDisplay-Semibold';
$dm : 'ClashDisplay-Medium';
$dl : 'ClashDisplay-Light';
$gv : 'ClashGrotesk-Variable';
