.section1 {
    position: relative;
    padding: 0 100px;
    margin: 100px auto 200px;
}

.section1_head1 img {
    width: 750px;
}

.section1_head2 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 70px;
    line-height: 130px;
    text-align: center;
    position: relative;

    background: -webkit-linear-gradient(240.16deg, #FFFFFF -244.51%, #FFC1B6 68.23%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section1_cont {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1_cont > span {
    width: 550px;
}

.section1_actions {
    margin-top: 60px;
}

.section1_actions .get_started_button {
    background: #ff7171;
}

.section1_actions .get_started_button:hover {
    background: rgb(119 119 119 / 21%);
}

.section1_actions .view_github_button {
    background: rgb(119 119 119 / 21%)
}

.section1_actions .view_github_button:hover {
    background: #ff7171;
}

.section1_actions > a {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    background: rgba(119, 119, 119, 0.21);
    border-radius: 68.5637px;
    padding: 13px 0;
    width: 240px;
    display: inline-block;
}

.section1_actions > a:first-child {
    margin-right: 20px;
}

.section1_actions > a:hover {
    background: #6100FF;
}

.section1_left1 {
    background: linear-gradient(144.9deg, #FFC8C8 13.67%, #EF7C7C 48.85%, #582727 86.6%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    z-index: -1;
    left: 0;
}

.section1_left2 {
    background: linear-gradient(140.35deg, rgba(255, 200, 200, 0.5) 7.97%, rgba(255, 132, 132, 0.5) 86.25%);
    transform: rotate(-78.1deg);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    bottom: -195px;
    left: -70px;
}

.section1 .section1-logo1 {
    position: absolute;
    top: -100px;
    z-index: -1;
    left: -350px;
    width: 100%;
}

.section1_right1 {
    background: linear-gradient(144.53deg, rgba(255, 200, 200, 0.5) 13.71%, rgba(255, 153, 153, 0.5) 22.56%, rgba(52, 58, 65, 0.5) 82.62%);
    width: 350px;
    height: 350px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    right: -18%;
    top: -20px;
}

@media (min-width: 1400px) {
    .section1 {
        max-width: 1400px;
        margin: 100px auto;
    }
}

@media (max-width: 1399px) {
    .section1_head1 img {
        width: 700px
    }

    .header_right1 {
        width: 300px;
        height: 300px;
    }

    .section1_head2 {
        font-size: 60px;
    }

    .section1_cont {
        font-size: 22px;
    }
}

@media (max-width: 1200px) {
    .section1_head1 img {
        width: 600px
    }

    .section1_left1 {
        width: 220px;
        height: 220px;
        top: -20px;
    }

    .header_right1 {
        width: 300px;
        height: 300px;
    }

    .section1_head2 {
        font-size: 60px;
    }

    .section1_cont {
        font-size: 22px;
    }

    .section1_right1 {
        top: 0;
    }
}

@media (max-width: 1020px) {
    .section1_head1 img {
        width: 500px
    }

    .section1_left1 {
        width: 200px;
        height: 200px;
        top: -20px;
    }

    .section1_head2 {
        font-size: 50px;
    }
}

@media (max-width: 940px) {
    .section1_head1 img {
        width: 450px;
    }

    .section1_head2 {
        font-size: 45px;
    }

    .section1_left1 {
        width: 150px;
        height: 150px;
    }

    .header_right1 {
        width: 250px;
        height: 250px;
    }

    .section1_right1 {
        top: 20px;
    }
}

@media (max-width: 735px) {
    .section1_head2 {
        line-height: 70px;
    }

    .section1_actions > a:first-child {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .section1_actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section1_right1 {
        right: 0;
        width: 300px;
        height: 300px;
        top: 20px;
    }

    .section1_left1 {
        left: 10px;
        top: -160px
    }

    .section1_head1 img {
        width: 400px;
    }

    .section1_head1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section1 {
        padding: 0 50px;
    }
}

@media (max-width: 426px) {
    .section1 {
        padding: 0 20px;
    }

    .section1_head1 img {
        width: 250px;
    }

    .section1_head2 {
        line-height: 50px;
        font-size: 35px;
        margin-top: 50px;
    }

    .section1_cont {
        font-size: 18px;
        line-height: 30px;
    }

    .section1_right1 {
        width: 250px;
        height: 250px;
        right: -20px;
    }

    .section1_left1 {
        top: -155px;
    }

    .header_right1 {
        width: 200px;
        height: 200px;
        top: -220px;
    }
}

@media (min-width: 2100px) {
    .section1 .section1-logo1 {
        left: -50%;
    }
}

@media (min-width: 2800px) {
    .section1 .section1-logo1 {
        left: -80%;
    }
}

@media (min-width: 3640px) {
    .section1 .section1-logo1 {
        left: -100%;
    }
}
