.eco_stym_filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 120px;
}

.eco_stym_filter_item {
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.eco_stym_filter_item_actived {
    background-color: white;
    color: black;
    transition: all .3s;
}

@media (max-width: 740px) {
    .eco_stym_filter {
        padding: 10px 20px;
    }
}