.header_class {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 100px;
}

.header_class > div:nth-child(2) {
    /*margin-right: 40px;*/
}

.header_right1 {
    position: absolute;
    background: linear-gradient(140.35deg, #FFC8C8 7.97%, #FF7070 50.61%);
    transform: rotate(-78.1deg);
    width: 310px;
    height: 310px;
    border-radius: 50%;
    right: 30px;
    top: -230px;
    z-index: -1;
}

.header_right1_logo {
    position: absolute;
    /*background: linear-gradient(140.35deg, #FFC8C8 7.97%, #FF7070 50.61%);*/
    /*transform: rotate(-78.1deg);*/
    width: 310px;
    height: 310px;
    border-radius: 50%;
    right: 30px;
    top: -230px;
    z-index: -1;
    opacity: 0.6;
}

.stake_drop {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.stake_drop:last-child {
    margin-right: 0;
}

.stake_drop > img {
    width: 18px;
    height: 18px;
    margin-left: 10px;
}

.stake_drop:hover {
    color: #ff7171;
}

.header_class .toggle_button {
    display: none;
}

.drawer > div:nth-child(3) {
    background: #232323;
    padding-top: 40px;
    width: 250px;
}

.drawer_section {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.drawer_section > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    background: -webkit-linear-gradient(90.12deg, #FFD7D7 0.75%, #FF9999 108.39%), -webkit-linear-gradient(90.12deg, #FFD3FA 0.75%, #9A4997 108.39%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid #7379853b;
    border-radius: 0;
    padding: 20px 40px;
    cursor: pointer;
}

.drawer_section > div img {
    width: 18px;
    margin-left: 20px;
}

.drawer_section > div:hover {
    background: #ff7171;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 750px) {
    .header_class .toggle_button {
        display: block;
        position: absolute;
        right: 20px;
    }

    .header_class .stake_drop {
        display: none;
    }
}

@media (min-width: 1400px) {
    .header_class {
        max-width: 1400px;
        margin: auto;
    }
}
